<%- include ("../partials/header.ejs") %>

    <body>
        <div class="container">
            <h1 class="title">
              Lista de Livros
          </h1>
          <p class="subtitle">
              Veja todos os <strong> livros cadastrados</strong>!
          </p>
          <div class="row">
            <table class="striped">
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>Livro</th>
                      <th>Slug</th>
                      <th>Sinopse</th>
                      <th>Autor</th>
                  </tr>
                </thead>
        
                <tbody>
                    <% books.forEach(book => { %>
                        <th><%= book.id %> </th>
                        <th><img src="<%= book.imageBook %>" width="100px" </th>
                        <th><%= book.title %> </th>
                        <th><%= book.slug %> </th>
                        <th><%= book.description %> </th>
                        <th><%= book.author %> </th>
                        <th>
                            <a href="">
                                <button class="btn btn-warning">Editar</button>
                            </a>
                            <form method="POST" action="" style="display:inline;">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                          
                        </th>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
          </div>
    </body>
</html>